<a name='event_<%=name%>'></a>
### <a href='#event_<%=name%>'><%=name%></a> [event]<%if(locals?.params?.length){%> => (<%=locals?.params?.filter((i) => {
    return i.name.indexOf('.') === -1;
}).map((i) => {
    return i.optional ? `[${i.name}]`: i.name;
}).join(', ')%>)<%}%>  
<%if(description){%><%=description%>
<%}%><%paramsDescription = params.filter((p)=>{return !!p.description;}).length > 0;
%>
<%if(params.length){-%>| Param | Type |<%if(paramsDescription){%> Description |<%}%>
| --- | --- |<%if(paramsDescription){%> --- |<%}%>
<%for(const item of params){-%>
| <%=item.name%> | <%-item.type.names.map((i) => {
    return `${i}`;
}).join(' &#124; ')%> |<%if(paramsDescription){%> <%=item.description%> |<%}%>  
<%}%><%}%>

