<a name='function_<%=name%>'></a>
### <a href='#function_<%=name%>'><%=name%>(<%=locals?.params?.filter((i) => {
    return i.name.indexOf('.') === -1;
}).map((i) => {
    return i.optional ? `[${i.name}]`: i.name;
}).join(', ')%>)</a><%=locals.async?' [async]':''%>  
<%if(locals.returns){-%>  
**Returns:** <%-returns[0].type.names.map((i) => {
    return `${i}`;
}).join(' | ')%>  <%}%>
<%if(description){%><%=description%>
<%}%>
<%if(params.length){-%>| Param | Type | Description |
| --- | --- | --- |
<%for(const item of params){-%>
| <%-item.name%> | <%-item.type.names.map((i) => {
    return `${i}`;
}).join(' | ')%> | <%-item.description%> |  
<%}%><%}%>

